<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Farm</title>
  </head>
  <body>
    <div class="container">
      <h1>Add A Farm</h1>
      <form action="/farms" method="post">
        <div class="">
          <label for="name">Farm Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter Farm Name"
            required
          />
        </div>
        <div class="">
          <label for="city">City</label>
          <input
            type="text"
            name="city"
            id="city"
            placeholder="Enter Farm City"
            required
          />
        </div>
        <div class="">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter email"
            required
          />
        </div>
        <button type="submit">Submit</button>
        <a href="/products">Back to Products</a>
      </form>
    </div>
  </body>
</html>
