body {
  background-color: #83c5be;
  background-image: 
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 0, 0 20px, 20px 20px;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}
.app{
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 80px #006d77;
  width: 60%;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.header h4 {
  margin: 0;
  font-size: 23px;
  font-weight: normal;
  text-shadow: #83c5be;
}

.header .today-container {
  display: flex;
  align-items: center;
}

.header .today {
  text-align: center;
  margin-left: 5px;
}

.header .today p {
  margin: 0;
  font-size: 17px;
}

.header .date {
  padding: 5px;
  font-size: 15px;
  color: gray;
}

.header span {
  font-size: 24px;
  color: #3C82F6;
}

.new-input {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-input input {
  width: 80%;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 5px;
  font-size: 15px;
}

.new-input button {
  width: 15%;
  background-color: #3C82F6;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}
.new-input button:hover {
  background-color: #2266d2;
}
#count{
  padding: 5px;
  margin: 2px 3px;
}
.timeLeft{
  margin-left: auto;
  margin-right: 5px;
}
.timeLeft span{
  font-size: 20px !important;
  color: gray;
}
.list{
  min-height: 200px;
  padding: 10px;
}
.tableInfo {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative; /* Ensure relative positioning for the container */
}

.tableInfo span {
  font-size: 18px;
  font-style: italic;
  color: #162402;
  flex-grow: 1; /* Allow span to grow and occupy remaining space */
}

.tableInfo svg {
  width: 28px;
  height: 28px;
  fill: #fcfcfc;
  position: absolute; 
  right: 10px; 
  top: 50%; 
  transform: translateY(-50%);
}

.items {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
}
.items input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 15px;
}
.todoDone input[type="checkbox"] {
  accent-color: rgba(0, 128, 128, 0.704);
}
.items span{
  font-size: 18px;
}
.items .deleteBtn{
  height: 25px;
  font-size: 15px;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right:5px ;
}
.items .deleteBtn i{
  /* width: 23px;
  height: 23px; */
  color: rgba(255, 10, 10, 0.877);
  /* font-weight: 100;
  fill:currentColor; */
}
.items .deleteBtn i:hover{
  color: rgb(222, 0, 0);
}
.remaining{
  border-radius: 10px;
  border: 1px solid #ccc;
}
.done{
  background-color: rgba(241, 241, 241, 0.689);
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #cacaca;
}
.done .doneTask {
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  color: #162402;
  margin: 5px;
  border-bottom:1px solid #b8b8b8bb;
}
.todoDone{
  opacity: 0.9;
}
.todoDone span{
  color: rgb(74, 74, 74);
  padding: 2px;
  text-decoration: 1.2px line-through rgba(0, 0, 0, 0.429);
}
footer{
  padding: 10px 0 0;
}
footer p{
  /* line-height: 50px; */
  margin-top: 25px;
  margin-bottom:3px ;
  text-align: center;
  font-size: 20px;
}



/* initial styles */

#starter-page{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 50% 30% 80%;
}
#starter-page h2{
  grid-column: 1/3;
  grid-row: 1/2;;
}
#starter-page h4{
  grid-column: 1/3;
  grid-row: 2/3;;
}
#starter-page p:nth-child(1){
  grid-column: 2/3;
  grid-row: 2/3;;
}

#starter-page p:nth-child(2){
  grid-column: 2/3;
  grid-row: 2/3;;
}






@media (max-width: 768px) {
  #main {
    width: 80%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 576px) {
  #main {
    width: 80%; /* Adjust width for even smaller screens */
  }

  .new-input {
    flex-direction: column; /* Stack input and button vertically */
  }

  .new-input input {
    width: 100%; /* Full width input on smaller screens */
    margin-bottom: 10px; /* Added margin between input and button */
  }

  .new-input button {
    width: 100%; /* Full width button on smaller screens */
  }
}