body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #83c5be;
  margin: 0;
  font-family: Arial, sans-serif;
}

#main {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 80px #006d77;
  width: 60%;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h4 {
  margin: 0;
  font-size: 23px;
  font-weight: normal;
  text-shadow: #83c5be;
}

.header .today-container {
  display: flex;
  align-items: center;
}

.header .today {
  text-align: center;
  margin-left: 5px;
}

.header .today p {
  margin: 0;
  font-size: 17px;
}

.header .date {
  padding: 5px;
  font-size: 15px;
  color: gray;
}

.header span {
  font-size: 24px;
  color: #3C82F6;
}

.new-input {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.new-input input {
  width: 80%;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

.new-input button {
  width: 15%;
  background-color: #3C82F6;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}
.new-input button:hover {
  background-color: #2266d2;
}
.timeLeft{
  margin-left: auto;
  margin-right: 5px;
}
.timeLeft span{
  font-size: 20px !important;
  color: gray;
}
.list{
  min-height: 200px;
  padding: 10px;
}
.tableInfo{
  display: grid;
  padding: 10px;
  grid-template-columns: 90% 10%;
  grid-template-rows: 30px;
  grid-gap: 10px ;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.tableInfo span{
  font-size: 20px;
  font-style: italic;
}
.tableInfo svg {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle; 
}
.items {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
}
.items input[type="checkbox"] {
  transform: scale(1.3);
  margin-right: 15px;
}
.items span{
  font-size: 18px;
}
.items .deleteBtn{
  height: 25px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  padding: 5px 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right:5px ;
}
/* .items .deleteBtn:hover {

} */
.items .deleteBtn img{
  width: 25px;
}
.remaining{
  border-radius: 10px;
  border: 1px solid #ccc;
}
.done{
  background-color: rgba(241, 241, 241, 0.689);
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #cacaca;

}
.done .doneTask {
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: rgb(109, 109, 109);
  margin: 5px;
  border-bottom:1px solid #b8b8b8bb;
}
.todoDone span{
  color: rgb(186, 186, 186);
  text-decoration: line-through;
}